Lista é uma colação ordenada de valores, separados por vígula e dentro de colchete.Armazena-se diversos itens em uma única variável.

In [ ]:
Lista = ['Linguagem C', 'Python', 'Cobol']
print(Lista)
Lista = [1,2,3,4, 'banana', 'maça', True]
print(Lista)
type(Lista)

['Linguagem C', 'Python', 'Cobol']
[1, 2, 3, 4, 'banana', 'maça', True]

list

Criando uma lista a partir da função list()

In [ ]:
Lista = list(range(10,21,2))
# range (Valor inicial, Valor Final, Passo)
print(Lista)

[10, 12, 14, 16, 18, 20]

In [ ]:
#Acessando as informações da Lista

Lista = ['a', 'b', 'c', 'd']
print(Lista[0])
print(Lista[3])
#print(Lista[4])

a
d

In [ ]:
itens = [1, 2, 4, ['banana', 'uva',], 'Maria']

print(itens)
print(itens[1])
print(itens[3]) #imprime ['banana', 'uva',] <-sublista
print(itens[4])

#print(itens[10]) ERRO

print(itens[3][1]) # 'uva'

print(itens[-1]) #imprime o último item da lista

[1, 2, 4, ['banana', 'uva'], 'Maria']
2
['banana', 'uva']
Maria
uva
Maria

In [ ]:
#Acessando o último item da lista - com indexação negativa

Lista = ['a', 'b', 'c', 'd']
print(Lista[-1], Lista[3], Lista[-2])

#Acrescentando um elemento a lista
#métodos lembrar da FILA append() - final da lista

Lista.append('e')
print(Lista)

Lista.insert(0, 'x') #insert escolhe a posição do que você quer colocar na lista
print(Lista)

d d c
['a', 'b', 'c', 'd', 'e']
['x', 'a', 'b', 'c', 'd', 'e']

In [ ]:
# Vamos cadastrar o nome de 5 pessoas

pessoas = []

for contador in range(1,6):
  pessoas.append(input(f"Digite o {contador}º nome: "))

print(pessoas)

Digite o 1º nome: a
Digite o 2º nome: b
Digite o 3º nome: c
Digite o 4º nome: d
Digite o 5º nome: e
['a', 'b', 'c', 'd', 'e']

In [ ]:
pessoas = ['Teresa', 'Maria', 'Zilda', 'Marcos', 'Lara']

for indice, valor in enumerate(pessoas):
  print(f"Índice = {indice} Valor = {valor}")

pessoas.sort() #ordem crescente a -> z
print(pessoas)

pessoas.sort(reverse = True) #ordem decrescente z -> a
print(pessoas)

Índice = 0 Valor = Teresa
Índice = 1 Valor = Maria
Índice = 2 Valor = Zilda
Índice = 3 Valor = Marcos
Índice = 4 Valor = Lara
['Lara', 'Marcos', 'Maria', 'Teresa', 'Zilda']
['Zilda', 'Teresa', 'Maria', 'Marcos', 'Lara']

In [ ]:
pessoas = ['Teresa', 'Maria', 'Zilda', 'Marcos', 'Lara']

# Tamanha da Lista len
print(len(pessoas))

# Removendo itens da lista
 # pelo indice - > método pop()
 # pelo conteúdo -> método remove()

pessoas.pop(0)
print(pessoas)

pessoas.remove('Marcos')
print(pessoas)

5
['Maria', 'Zilda', 'Marcos', 'Lara']
['Maria', 'Zilda', 'Lara']

In [ ]:
# 1) Criar um programa em python que solicite ao usuário o nome de 5 pessoas, armazene em uma lista e exiba os nomes digitados e o tamanho da lista.
# Em seguida, o programa deve solicitar ao usuário um nome, e o programa deverá remover o nome armazenado na lista, exibir os nomes digitados e o tamanho da lista

nomes = []

for cont in range(1,6):
  nomes.append(input("Digite um nome:"))
print(nomes)
print(len(nomes))

remover = input("Digite um nome para remover: ")
nomes.remove(remover)

print(nomes)
print(len(nomes))

Digite um nome:a
Digite um nome:b
Digite um nome:c
Digite um nome:d
Digite um nome:e
['a', 'b', 'c', 'd', 'e']
5
Digite um nome para remover: d
['a', 'b', 'c', 'e']
4

In [ ]:
# 2) Faça um programa em python que calcule a media de um aluno a partir de cinco notas previamente armazenadas em uma lista.
# utiliza: notas =[6, 7, 6.5, 4.8, 8]

notas = [6, 7, 6.5, 4.8, 8]

soma = sum(notas)

media = soma / 5

print(f"A média dos números é {media:.1f}")

A média dos números é 6.5

In [ ]:
# 3) Criar um programa em python que solicite ao usuario nomes de 5 pessoas e armazenar em uma lista.
# Em seguida, o programa deve classificar os nomes de modo ascendente e solicitar ao usuário um número de 0 a 4, correspondendo ao indice,
# e o programa deverá mostrar o nome armazenado nesse indice

nomes = []

for cont in range(1,6):
  nomes.append(input("Digite um nome:"))
print(nomes)

nomes.sort()
print(nomes)

numero = int(input("Digite um número [0 a 4]"))
print(nomes[numero])

Digite um nome:a
Digite um nome:g
Digite um nome:j
Digite um nome:t
Digite um nome:e
['a', 'g', 'j', 't', 'e']
['a', 'e', 'g', 'j', 't']
Digite um número [0 a 4]4
t

In [ ]:
teste = (1, 2, 3) + (4, 5, 6)

print(teste)

(1, 2, 3, 4, 5, 6)